OLLAMA_MODEL=deepseek-r1:8b
OLLAMA_HOST='http://localhost:11434'
TAVILY_API_KEY=tvly-dev-xxxxxxxxx
LLM_PROVIDER=openai #default is ollama
# OpenAI config
OPENAI_API_KEY=sk-proj-xxxxxxx
OPENAI_MODEL=gpt-3.5-turbo